.button-color{
    background-color: #D19C28;
}

.glowText{
    &:hover {
        color: #D19C28;
        cursor: pointer;
    }
}

.glow-button{
    &:hover {
        box-shadow: 0 0 3px #D19C28, 0 0 6px #D19C28, 0 0 10px #D19C28; 
        transition: box-shadow 0.3s ease-in-out; 
        cursor: pointer;
    }
}

.text-color {
    color: #D19C28;
}